.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
*.local
__pycache__
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
bun.lockb

# Local Netlify folder
.netlify
dist/
coverage/
tests/__snapshots__/
functions_off/
.local/.env
bioimageio_schema_latest.json
rdf.json
tsconfig.config.json
