@use "node_modules/@picocss/pico/scss/pico";

/// 
/// Overrides
/// 

.icon{
    width: 64px;
}

:root{
    --font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    --background-color: #ffffff;
    --color: #808080;
}


article{
    --contrast: hsl(205, 20%, 90%);
}

article.warning{
    background-color: lightyellow;
}
article.warning > header{
    background-color: lightyellow;
}
article.warning > footer{
    background-color: lightyellow;
}
footer {
    text-align: center;
}

button{
    background-color: #e5e5e5;
    color: black;
    box-shadow: none;
    margin-bottom: var(--pico-spacing);
}

.list-item > button{
    white-space:nowrap;
}

[role="button"]{
    background-color: #2196f3;
    box-shadow: none;

}

button svg.lucide-x:hover{
    color: red;
}

span svg.lucide-x:hover{
    color: red;
}

button svg.lucide-plus:hover{
    color: green;
}

kbd{
    color: rgb(27, 26, 26);
    background-color: wheat;
}

kbd span svg:hover{
    color: red;
    filter: drop-shadow(0 0 10px red);
}

.remove-icon{
    color: red;
    background-color: white;
}

header{
    background-color: #2196f3;
    --background-color: #2196f3;
    //--color: #2196f3;
    --color: #ffffff;
}

header details{
    background-color: #2196f3;
    --background-color: #2196f3;
    //--color: #2196f3;
    --color: #ffffff;

}

.button-row {
    display: flex;
    justify-content: space-between;
}
.dominant-button {
    width: 300px;
    background-color: #007BFF; /* Change this to your preferred dominant color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropzone {
    height: 200px;
    padding: 5px;
    margin: 20px;
}