@use "node_modules/@picocss/pico/scss/pico";

/// 
/// Overrides
/// 

.icon{
    width: 64px;
}

:root{
    --font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    --background-color: #ffffff;
    --color: #808080;
}


article{
    --contrast: hsl(205, 20%, 90%);
}

article.warning{
    background-color: lightyellow;
}
article.warning > header{
    background-color: lightyellow;
}
article.warning > footer{
    background-color: lightyellow;
}

button{
    background-color: #2196f3;
    box-shadow: none;
    margin-bottom: var(--pico-spacing);
}

.list-item > button{
    white-space:nowrap;
}

[role="button"]{
    background-color: #2196f3;
    box-shadow: none;

}

button svg.lucide-x:hover{
    color: red;
}

span svg.lucide-x:hover{
    color: red;
}

button svg.lucide-plus:hover{
    color: green;
}

kbd{
    background-color: #2196f3;
}

kbd span svg:hover{
    color: red;
    filter: drop-shadow(0 0 10px red);
}

header{
    background-color: #2196f3;
    --background-color: #2196f3;
    //--color: #2196f3;
    --color: #ffffff;
}

header details{
    background-color: #2196f3;
    --background-color: #2196f3;
    //--color: #2196f3;
    --color: #ffffff;

}


//nav{
//}
//nav a{
    //--color: #ffffff;
    //-moz-transition: all 0.2s ease-in;
    //-o-transition: all 0.2s ease-in;
    //-webkit-transition: all 0.2s ease-in;
    //transition: all 0.2s ease-in;
//}
//nav a:hover{
    //--color: #ffffff;
    //text-shadow:0px 0px 30px #fdec6e;
    //-moz-transition: all 0.2s ease-in;
    //-o-transition: all 0.2s ease-in;
    //-webkit-transition: all 0.2s ease-in;
    //transition: all 0.2s ease-in;
//}
//font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
//nav > ul> li >strong{
//    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
//}
